.doors
  height: 832px
  width: 1088px
  display: block
  position: absolute
  z-index: -1

.walls
  height: 832px
  width: 1088px
  display: block
  position: absolute
  z-index: -2

.ground
  height: 832px
  width: 1088px
  display: block
  position: absolute
  z-index: -3